{{ partial "header.html" . }}


<div class="container away">
  <div class="row">
	<div class="eight columns offset-by-two">
	  <p style="margin-bottom:1em;font-weight:bold;color:#333">Сны</p>
	  <p class="posts">Я систематически записываю сны с 2013 года, сейчас их {{ .Paginator.TotalNumberOfElements }}. Мне и некоторым другим кажется, что они могут быть небезынтересны для чтения праздным вечером, поэтому выкладываю их здесь. Многие из них содержат обсценную лексику или <span class="scaps">nsfw</span>-контент, специально такие сны не помечаю.</p>

	  <ul class="posts">
		{{ $baseurl := .Site.BaseUrl }}
		{{ range .Paginator.Pages }}
		{{ if eq .Type "dreams" }}
		<li>
		  <a href="{{ .Permalink }}">{{ .Title }}</a>

		  <p class="footnote">
			submitted <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="pull-right post-list timeago">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

			{{ if or .Params.tags .Params.categories .Params.series }}
			to
			{{ end }}

			{{ with .Params.tags }}
			tags:[ {{ range .Params.tags}}<a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with .Params.categories }}
			categories:[ {{ range .Params.categories }}<a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with .Params.series }}
			series:[ {{ range .Params.series }}<a href="{{ $baseurl }}/series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

		  </p>
		  <p class="footnote summary">{{ .Summary }}{{ if .Truncated}}<a href="{{ .Permalink }}"><span style="font-size: larger; color: #369;"> →</span></a>{{end}}</p>
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	  {{ partial "pagination.html" . }}
	</div>
  </div>
</div>