{{ partial "header.html" . }}
{{ $relsub := substr .RelPermalink 0 4 }}
{{ $page := . }}
{{ if eq $relsub "/okx" }}
{{ partial "navbar_okx.html" . }}
{{ else }}
{{ partial "navbar.html" . }}
{{ end }}

<div id="post-title">
<p class="footnote">
    {{ $page.Date.Format "2006-01-02" }}{{ if or $page.Params.tags $page.Params.categories $page.Params.series }},
    {{ end }}

    {{ with $page.Params.tags }}
    {{ range $page.Params.tags}}<a href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
    {{ end }}

    {{ with $page.Params.categories }}
    {{ range $page.Params.categories }}<a href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
    {{ end }}

    {{ with $page.Params.series }}
    {{ range $page.Params.series }}<a href="/series/{{ . | urlize }}">{{ . }}</a> {{ end }}
    {{ end }}

    </p>
<h1 id="title">{{ .Title }}</h1>
</div>
{{ if isset .Params "toc" }}<div id="toc" class="well col-md-4 col-sm-6">
{{ .TableOfContents }}
</div>{{ end }}
<div class="post">
{{ .Content }}
</div>

<p class="prev_next">
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}">← prev</a>
{{ end }}{{ if .PrevInSection }}{{ if .NextInSection }} · {{ end }}{{ end }}
{{ if .NextInSection }}<a href="{{.NextInSection.Permalink}}">next →</a>
{{ end }}
</p>

{{ partial "footer.html" . }}
