<nav class="navbar">
	<ul>
		{{ $burl := .Site.BaseURL }}
		<li><a href="{{ $burl }}" class="brand"><img src="/newcat.png" class="iimg lower">&nbsp;на&nbsp;главную</a>&nbsp;<a href="{{ $burl }}/index.xml" class="brand brand-rss"><i class="iimg lower fa fa-rss"></i></a></li>
		<li><a href="{{ $burl }}/blog">блог</a><a href="{{ $burl }}/blog/index.xml">&nbsp;<i class="iimg lower fa fa-rss"></i></a></li>
		<li><a href="{{ $burl }}/music">музыка</a><a href="{{ $burl }}/music/index.xml">&nbsp;<i class="iimg lower fa fa-rss"></i></a></li>
		<li><a href="{{ $burl }}/dreams">сны</a><a href="{{ $burl }}/dreams/index.xml">&nbsp;<i class="iimg lower fa fa-rss"></i></a></li>
		<li><a href="{{ $burl }}/friendsdreams">сны&nbsp;друзей</a><a href="{{ $burl }}/friendsdreams/index.xml">&nbsp;<i class="iimg lower fa fa-rss"></i></a></li>
	</ul>
</nav>
